

a{
    color:white;
    text-decoration: none;
}

h1{
    margin: 0px;
}

.div-nav-container{
    height: 60px;
    background-image: linear-gradient(
        to bottom right,
        #0a7ce7,
        #19e4d3);
    margin: 0px;
    font-family: Mali;
    align-items: center;
}

.div-content{
    display: flex;
    align-items: center;
    height: inherit;
    width: inherit;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
}

.btn-sobre{
    height: 30px;
    min-width: 90px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color: #19a4e4;
    border-radius: 20px;
    color: white;
    font-family: Mali;
    cursor: pointer;
}
.btn-sobre:hover{
    opacity: 0.9;
}

.bnt-sair{
    height: 30px;
    min-width: 90px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color: #ff0077;
    border-radius: 20px;
    color: white;
    font-family: Mali;
    cursor: pointer;
}
.bnt-sair:hover{
    opacity: 0.9;
}

.div-navigation{
    display: flex;
}

.div_btn{
    margin-left: 20px;
}