<div class="login-container">
    <div class="div-form">
        <form (ngSubmit)="onSubmit()" #formLogin="ngForm">
            <h1>Login</h1>
            <p class="input-title">Email</p>
            <input type="email" placeholder="email" [(ngModel)]="user.email" name="email">
            <p class="input-title">Senha</p>
            <input type="password" placeholder="senha" [(ngModel)]="user.senha"  name="senha">
            <br>
            <br>
            <button type="submit">Entrar</button>
            <button [routerLink]="['/register']">Cadatrar-se</button>
        </form>
    </div>
</div>
