<app-nav-bar></app-nav-bar>

<div class="task-form-container">
    <h2>{{ title }}</h2>
    <hr>
    
    <section id="form">
        <form (ngSubmit)="onSubmit()" #formTask="ngForm">
            <div>
                <label class="label-title">Descrição da tarefa</label>
                <br>
                <textarea class="textarea-input" [(ngModel)]="task.description_str" name="description" rows="5"></textarea>
            </div>
            <div class="div_btns">
                <div class="div-button">
                    <button class="btn-save" type="submit">Salvar</button>
                </div>
                <div class="div-button">
                    <button class="btn_cancel" [routerLink]="['/']">Cancelar</button>
                </div>
            </div>
        </form>
    </section>
    <br>
</div>



