
.aboutus-container{
    font-family: Mali;
    width: 100%;
    height: calc(100% - 60px);
    background-color: rgb(16, 43, 73);
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
}

.about-content{
    max-width: calc(100% - 80px);
}

.div-images{
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 100px;
}

a{
    color: white;
}

.div-img{
    margin-left: 1em;
    margin-right: 1em;
}
