<app-nav-bar></app-nav-bar>
<section class="aboutus-container">
    <div class="about-content">
        <br>
        <h1>Sobre Nós</h1>
        <br>
        <p>
            O My Tasks é um projeto criado por uma pessoa só! Na sua contrução foi utilizado
            Angular no front-end, .Net/C# para o back-end e um banco de dados em PostgreSQL!
        </p>
        <div class="div-images">
            <div class="div-img">
                <img src="./assets/about-us/angular-logo.svg">
            </div>
            <div class="div-img">
                <img src="./assets/about-us/c-sharp-logo.svg">
            </div>
            <div class="div-img">
                <img src="./assets/about-us/postgre-logo.svg">
            </div>
        </div>
        <p>
            Você pode encontrar o código fonte no github, sinta-se a vontade para para usar como estudou ou fins educativos!
        </p>
        <p>Front-End: <a href="https://github.com/GuiiFg/project-tasks">https://github.com/GuiiFg/project-tasks</a></p>
        <p>Back-End: <a href="https://github.com/GuiiFg/RestApiMyTasks">https://github.com/GuiiFg/RestApiMyTasks</a></p>
        <p>
            No banco de dados foram criadas duas tabelas, o sql usado para criar ambas estão o código do back-end em um arquivo
            chamado database.sql!
        </p>
        <p>
            Todas as ilustrações presentes neste site foram retiradas da <a href="https://storyset.com">StotySet</a>, deixo meu sincero agradecimento
            a ela pelo trabalho incrível deixando os projetos indies cada vez mais bonitos!
        </p>
    </div>
</section>
