
h2{
    margin: 0px;
    margin-top: 20px;
}

button{
    font-family: Mali;
}

.btn-newtask{
    height: 30px;
    color: white;
    background-color: #0077ff;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-newtask:hover{
    cursor: pointer;
    opacity: 0.9;
}

.div-tasklist-container{
    margin: 20px;
    display: flex;
    font-family: Mali;
}

.img-content{
    width: 50%;
}

.tasklist-content{
    width: 50%;
    padding-right: 20px;
}

.list-group{
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
}

.list-group-item{
    list-style-type: none;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.list-item{
    display: flex;
    padding:10px;
    margin:2px;
    min-width: fit-content;
    border-radius: 5px;
    flex-direction: row;
    align-items: center;
    background-color: #DEDEDE;
}

.div-alert-warning{
    margin-top: 10px;
    padding:20px;
    background-color: #eceba1;
    border-radius: 5px;
    font-weight: bold;
}